<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Person Details</title>
</head>
<body>
<header th:replace="~{layout-header :: header}"></header>
<main>
  <h2>Person: [[|${person.firstName} ${person.lastName}|]]</h2>
  <ul>
    <li th:each="timeSlot: ${person.timeslots}">
      <a th:href="|/timeSlot/${timeSlot.id}|"
         th:text=" ${timeSlot.date} + ' ' + ${timeSlot.startTime} + ' - ' + ${timeSlot.endTime} +
         ' ' + ${timeSlot.description}"></a>
    </li>
  </ul>

  <a href="#" th:href="@{'/person/update/' + ${person.id}}">Update Person</a>
  <br>
  <a href="#" th:href="@{'/timeSlot/new/' + ${person.id}}">New Time slot</a>
  <br>
  <form th:action="@{'/person/delete/' + ${person.id}}" method="post">
    <button type="submit">Delete Person</button>
  </form>
</main>
</body>
</html>