<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
</head>
<body>
<header th:replace="~{layout-header :: header}"></header>
<main>
    <h2>Update Person</h2>
    <form th:action="@{/person/update/{id}(id=${personId})}" method="post" th:object="${personDTO}">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
        <br>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
        <br>
        <button type="submit">Update Person</button>
    </form>
</main>
</body>
</html>