<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Time Slot Form</title>
  <style>
    button {
      padding: 10px 20px;
      font-size: 16px;
    }
  </style>
</head>
<body>
<header th:replace="~{layout-header :: header}"></header>
<main>
  <h2>Create Time Slot</h2>
  <form th:action="@{/timeSlot/new}" method="post" th:object="${timeSlotDTO}">
    <label for="person">Person:</label>
    <select id="person" th:field="*{personId}" required>
      <option value="" disabled selected>Select a person</option>
      <option th:each="person : ${persons}" th:value="${person.id}" th:text="${person.firstName} + ' ' +
      ${person.lastName}"></option>
    </select>
    <br>

    <label for="date">Date:</label>
    <input type="date" id="date" th:field="*{date}" required>
    <br>

    <label for="startTime">Start Time:</label>
    <input type="time" id="startTime" th:field="*{startTime}" required>
    <br>

    <label for="endTime">End Time:</label>
    <input type="time" id="endTime" th:field="*{endTime}" required>
    <br>

    <label for="description">Description:</label>
    <input type="text" id="description" th:field="*{description}" required>
    <br>
    <button type="submit">Create Time Slot</button>
  </form>
</main>
</body>
</html>